@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    Layout = null;
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Storemey</title>

    <link rel="shortcut icon" href="/Logos/Storemey (2).png">

    @*@Styles.Render("~/Bundles/App/vendor/css")*@
    @*@Styles.Render("~/Bundles/App/Main/css")*@



    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="/fonts/Karla/Karlacss.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-ui-switch/angular-ui-switch.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/AngularJS-Toaster/toaster.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-aside/dist/css/angular-aside.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-notification-icons/dist/angular-notification-icons.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/v-accordion/dist/v-accordion.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/v-button/dist/v-button.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-awesome-slider/dist/css/angular-awesome-slider.min.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/Content/StoremeyTheme/ANGULARJS/bower_components/slick-carousel/slick/slick-theme.css">
    
    <link href="/lib/ui-cropper-master/ui-cropper-master/compile/unminified/ui-cropper.css" rel="stylesheet" />
    
    <link href="/lib/ui-select/ui-select-master/ui-select-master/dist/select.css" rel="stylesheet" />
    <link href="/lib/ui-select/ui-select-master/ui-select-master/dist/select2.css" rel="stylesheet" />
    <link href="/lib/angular-confirm-master/dist/angular-confirm.min.css" rel="stylesheet" />
    <link href="/lib/offline-master/offline-master/themes/offline-theme-chrome.css" rel="stylesheet" />
    <link href="/lib/offline-master/offline-master/themes/offline-language-english.css" rel="stylesheet" />


    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <link rel="stylesheet" href="/assets/css/themes/lyt1-theme-1.css" />

    <link href="/Content/Ui-Grid_css/ui-grid.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />

    <script type="text/javascript">
            //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
            var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->




</head>
<body class="theme-red">

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div class="overlay"></div>
    <input type="hidden" id="paneltype" value="user" />
    <input type="hidden" id="isFirstLogin" value="@Storemey.StoremeyConsts.isFirstTimeLogin.ToString().ToLower()" />
    <input type="hidden" id="storename" value="@Storemey.StoremeyConsts.tenantName" />

    <div ng-controller="AppCtrl as vm">
        <div ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}">

            <!-- toaster directive -->
            <toaster-container toaster-options="{'position-class': 'toast-bottom-center', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->
            <!-- sidebar -->
            <div class="sidebar app-aside hidden-print" id="sidebar" toggleable parent-active-class="app-slide-off">
                <div perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true" class="sidebar-container">
                    <div data-ng-include=" '/App/Main/views/partials/sidebar.cshtml' "></div>
                </div>
            </div>
            <!-- / sidebar -->
            <div class="app-content">
                <!-- top navbar -->
                <ng-include src=" '/App/Main/views/partials/top-navbar.cshtml' "></ng-include>
                <!-- / top navbar -->
                <!-- main content -->

                <div class="panel-scroll" style="position:relative;max-height:100vh !important; padding-right:10 !important;  " perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                    <div data-ng-include=" '/App/Main/views/partials/main-content.cshtml' " class="main-content"></div>
                </div>

                <!-- / main content -->
            </div>
            <!-- footer -->
            @*<footer data-ng-include=" '/App/Main/views/partials/footer.cshtml' " class="hidden-print"></footer>*@

            <!-- / footer -->
            @*<div data-ng-include=" '/App/Main/views/partials/off-sidebar.cshtml' " id="off-sidebar" class="sidebar hidden-print" toggleable parent-active-class="app-offsidebar-open"></div>*@
            @*<div data-ng-include=" '/App/Main/views/partials/settings.cshtml' " toggleable class="settings panel panel-default hidden-xs hidden-sm hidden-print" id="settings"></div>*@
        </div>
    </div>



    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/modernizr/modernizr.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/moment/min/moment.min.js"></script>

    @*<script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular/angular.js"></script>*@





    @Scripts.Render("~/Bundles/App/vendor/js")

    <script src="/Scripts/ui-grid.js"></script>
    <script src="/Scripts/ui-grid.pagination.js"></script>
    <script src="/Scripts/ui-grid.resize-columns.js"></script>
    <script src="/Scripts/ui-grid.move-columns.js"></script>
    <script src="/Scripts/ui-grid.pinning.js"></script>
    <script src="/Scripts/ui-grid.selection.js"></script>
    <script src="/Scripts/ui-grid.auto-resize.js"></script>
    <script src="/Scripts/ui-grid.exporter.js"></script>



    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/spin.js/spin.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/ladda/dist/ladda.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/slick-carousel/slick/slick.min.js"></script>

    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-swipe/dist/angular-swipe.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-fullscreen/src/angular-fullscreen.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/ng-bs-daterangepicker/dist/ng-bs-daterangepicker.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-truncate/src/truncate.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-ui-switch/angular-ui-switch.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-aside/dist/js/angular-aside.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/v-accordion/dist/v-accordion.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/v-button/dist/v-button.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/ngSweetAlert/SweetAlert.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-notification-icons/dist/angular-notification-icons.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-awesome-slider/dist/angular-awesome-slider.min.js"></script>
    <script src="/Content/StoremeyTheme/ANGULARJS/bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>

    <script>
            //Localizing momentjs
            moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- SignalR scripts -->
    @*<script src="~/signalr/hubs"></script>
        @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")*@

    @Scripts.Render("~/Bundles/App/Main/js")

    <link href="~/Common/app.less" rel="stylesheet" />
    <link href="/css/Custom.css" rel="stylesheet" />
    <link href="~/Common/commonstyle.css" rel="stylesheet" />
    @*<script>
            //var run = function () {
            //    var req = new XMLHttpRequest();
            //    req.timeout = 5000;
            //    req.open('GET', 'http://storemey.local/walter/0', true);
            //    req.send();
            //}

            //setInterval(run, 3000);
            Offline.options = {
                // to check the connection status immediatly on page load.
                checkOnLoad: false,

                // to monitor AJAX requests to check connection.
                interceptRequests: true,

                // to automatically retest periodically when the connection is down (set to false to disable).
                reconnect: {
                    // delay time in seconds to wait before rechecking.
                    initialDelay: 0,

                    // wait time in seconds between retries.
                    delay: 1
                },

                // to store and attempt to remake requests which failed while the connection was down.
                requests: true
            };

           var run = function () {

                //if (Offline.state === 'up')
                    Offline.check();

            }
            setInterval(run, 5000);


        </script>*@
</body>
</html>



@*<script type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "d97fe472-4d7d-4ef8-a576-bef5b46ddbd3"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>*@
<!-- Widget Code -->
<script type="text/javascript">((function () { var load = function () { var script = "https://s.acquire.io/a-cf2c1/init.js?full"; var x = document.createElement('script'); x.src = script; x.async = true; var sx = document.getElementsByTagName('script')[0]; sx.parentNode.insertBefore(x, sx); }; if (document.readyState === "complete") load(); else if (window.addEventListener) window.addEventListener('load', load, false); else if (window.attachEvent) { window.attachEvent("onload", load); } })())</script> <noscript><a href="https://www.acquire.io?welcome" title="live chat software">Acquire</a></noscript> <!-- / Widget Code -->


